includes/state-machines.yml
stateMachines:
  testfunc:
    name: check-sfn-context-object-${self:provider.stage}
    definition:
      StartAt: Test
      States:
        Test:
          Type: Task
          InputPath: "$"
          Resource:
            Fn::GetAtt: [test, Arn]
          Catch:
          - ErrorEquals:
            - States.ALL
            Next: AlertSlack
          Next: Done
        AlertSlack:
          Type: Task
          Resource:
            Fn::GetAtt: [alert_slack, Arn]
          Parameters:
            Execution.$: $$.Execution
            State.$: $$.State
            StateMachine.$: $$.StateMachine
            param.$: $
          Next: FailState
        FailState:
          Type: Fail
        Done:
          Type: Pass
          End: true
